@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e6dcdc;
  --foreground: #363636;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #363636;
    --foreground: #e6dcdc;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
